{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <form action="/palestrantes/add/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="palestrante_id" value="{{announcer.id}}">
                <div class="form-group">
                    <label for="palestrante_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="palestrante_nome" placeholder="Nome do palestrante aqui." value="{{announcer.name}}">
                </div>
                <div class="form-group">
                    <label for="palestrante_email">Email</label>
                    <input type="text" class="form-control" name="email" id="palestrante_email" placeholder="Email do palestrante aqui." value="{{announcer.email}}">
                </div>
                <div class="form-group">
                    <label for="palestrante_biografia">Biografia</label>
                    <textarea name="bio" class="form-control" id="palestrante_biografia">
                        {{announcer.bio}}
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="palestrante_foto">Foto</label>
                    <input type="file" name="foto" id="palestrante_foto">
                    <p class="help-block">
                    {% if announcer.photo %}
                        <img width="100" height="100" src="/media/{{announcer.photo}}" class="img-circle" alt="Foto palestrante" />
                    {% endif %}
                    </p>
                </div>
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="/palestrantes" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock content %}