{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h3>{{organizacao}}</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="btn-group">
                <a class="btn btn-success" href="palestrante">Novo</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Biografia</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for announcer in announcers %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td><img width="80" height="80" class="img-circle" src="/media/{{announcer.photo}}" /></td>
                                <td>{{announcer.name}}</td>
                                <td>{{announcer.bio}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <a href="{{announcer.id}}" class="glyphicon glyphicon-pencil"></a>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Center Align">
                                        <a href="#" data-url="excluir/{{announcer.id}}" class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#delete-dialog" ></a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div id="delete-dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Excluir palestrante</h4>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza que deseja excluir o palestrante?</p>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-danger confirm-dialog">Excluir</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock content %}