*.pyc
core/geral/custom_settings.py
*.sublime-project
*.sublime-workspace
.idea/*
*/.idea/*
*.DS_Store
*.pickle
media/*
static/*
!core/*/static
!core/*/media
!media/.holder
!static/.holder
=======
node_modules
dist
.tmp
.sass-cache
bower_components
