<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title>Titulo</title>
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link href="/static/css/grid.css" rel="stylesheet" type="text/css">
	<link href="/static/css/comum.css" rel="stylesheet" type="text/css">	
	<link href="/static/css/responsivo.css" rel="stylesheet" type="text/css">
	
	<link href="/static/css/erro.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
	

	<!--[if lt IE 9]>
       <script type="text/javascript" src="/static/js/cria-elemento.js"></script>
       <link href="/static/css/ie.css" rel="stylesheet" type="text/css">
    <![endif]-->

    <!--[if IE 7]>
       <link rel="stylesheet" type="text/css" href="/static/css/ie7.css">
    <![endif]-->
</head>
<body>
<main id="Conteudo" class="clearfix">
		
	<div class="container_960">
		<div class="ErroPage fix grid7">
			<p class="logo rpl mob">Isso é um erro 500</p>

			<div class="smile">:(</div>

			<div class="box">
				<h2 class="titulo">Ops! Ocorreu um erro.</h2>
				<p>Ocorreu um erro inesperado no servidor. </p>
				<p>Aguarde um pouco e tente novamente em alguns minutos.</a></p>
			</div>

		</div><!-- .ErroPage -->
		
	</div><!-- .container_960 -->


	</main><!-- #Conteudo -->
        

</body>
</html>